@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">
        Sejam Bem Vindos a Healthtech: <br />
        Doe Sangue! Doe Vida!
    </h1>

    <br />
    <table>

        <tr>
            <td><img src="~/DoacaoSangue.jpg" width="600">


            <td><img src="~/DoeVida.jpg" width="600" height="358">
        </tr>

    </table>
</div>

<br />
<br />

<h2>Quem Somos:</h2>

<br />

<ul>
    <li>
        <p>
            O projeto tem como objetivo auxiliar no incentivo e no lembrete da doação de sangue.
            Reúne todas informações como pré-requisitos antes da doação, intervalo de tempo, efeitos colaterais etc.
        </p>
    </li>

    <li>
        Para os usuários cadastrados, haverá o envio de notificações dentro do período para novas doações, visando manter sua constância.
    </li>
    <br />

    <li>
        Poderá cadastrar suas doações, local, atendimento. O usuário terá acesso a seu histórico de doações.
    </li>
    <br />

    <li>
        Empresas privadas serão convidadas para cadastro para promoção de dias de doação de sangue coletivas no local de trabalho mediante esse contato com os centros.
        E também oferecerão cupons de descontos aos usuários após as doações, motivando-os assim a continuar as doações dentro do prazo e divulgando sua marca
        como parceira da causa.
    </li>
    <br />
    <li>
        Em paralelo, também possuímos um aplicativo, onde o usuário pode ter acessos a todas essas informações e serviços.
    </li>
</ul>

