@{
    ViewData["Title"] = "Sobre";
}

<br />


    <table>

        <tr>
            <td><img src="~/SalveVidas.png" width="550" height="240">
            <td><img src="~/Imagem_Sobre_Doacao.jpg" width="550" height="240">
        </tr>

    </table>
   


<br />
<br />
<h4>Requisitos básicos para doação de sangue</h4>

<br />

<ul>
    <li>

        Estar em boas condições de saúde.
    </li>

    <li>

        Ter entre 16 e 69 anos, desde que a primeira doação tenha sido feita até 60 anos (menores de 18 anos,devem estar
        acompanhados, se possível, do responsável legal. No entanto, devem atentar à documentação
        necessária para fazer seu cadastro.

    </li>
    <li>
        Pesar no mínimo 50kg.
    </li>
    <li>
        Estar descansado (ter dormido pelo menos 6 horas nas últimas 24 horas).
    </li>
    <li>
        Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).
    </li>
    <li>
        Apresentar documento original com foto recente, que permita a identificação do candidato, emitido por órgão oficial
        (Carteira de Identidade ou cópia autenticada; Cartão de Identidade de Profissional Liberal;
        Carteira de Trabalho e Previdência Social; Carteira Nacional de Habilitação,
        digital ou física; RNE - Registro Nacional de Estrangeiro; Título de Eleitor Digital, desde que tenha a foto; e Passaporte brasileiro com filiação).
    </li>

    <br />

    <h4>Documentação do Menor:</h4>
    <br />
    <li>
        Os menores de idade que forem fazer sua doação devem estar
        acompanhados, se possível, do responsável legal. No entanto, devem atentar à documentação
        necessária para fazer seu cadastro.

    </li>
    <li>
        Documento de identidade do menor (oficial, original, com foto recente que permita a identificação
        do candidato e com filiação – RG, Carteira de Trabalho entre outros
    </li>
    <li>
        Xerox simples do documento de identidade de um dos pais ou outro responsável legal perante a
        Justiça (oficial, com foto – RG ou Carteira de Habilitação). Termo de autorização para doação assinado por esse mesmo pai ou responsável legaL.
    </li>


    <br />
    <h4>Principais impedimentos temporários:</h4>
    <br />

    <li>
        Resfriado: aguardar 7 dias após desaparecimento dos sintomas.
    </li>
    <li>
        Gravidez.
    </li>
    <li>
        90 dias após parto normal e 180 dias após cesariana.
    </li>
    <li>
        Amamentação (se o parto ocorreu há menos de 12 meses).
    </li>

    <li>
        Ingestão de bebida alcoólica nas 12 horas que antecedem a doação.
    </li>
    <li>
        Tatuagem, maquiagem definitiva e micropigmentação (sobrancelhas, lábios, etc.): aguardar 12 meses;
        se feitas em local adequado (seguro) e com todos os cuidados necessários (assepsia correta e material descartável), o prazo é de 6 meses.
    </li>

    <li>
        Situações nas quais há maior risco de adquirir doenças sexualmente transmissíveis: aguardar 12 meses.
    </li>
    <li>
        Qualquer procedimento endoscópico (endoscopia digestiva alta, colonoscopia, rinoscopia, etc.): aguardar 6 meses.
    </li>
    <li>
        Extração dentária (verificar uso de medicação) ou tratamento de canal (verificar medicação): por 7 dias.
    </li>
    <li>
        Cirurgia odontológica com anestesia geral: por 4 semanas.
    </li>
    <li>
        Acupuntura: se realizada com material descartável: 24 horas; se realizada com laser ou sementes: apto; se realizada com material sem condições de avaliação: aguardar 12 meses.
    </li>
    <li>
        Vacina contra gripe: por 48 horas.
    </li>
    <li>
        Vacina contra Coronarivus:
    </li>
    <p>
        - 48 horas após cada dose (Coronavac e Covaxin); <br />
        - 7 dias após cada dose (AstraZeneca, Pfizer, Janssen-Cilag e Moderna).
    </p>
    <li>
        Viagem ao exterior para qualquer país impede a doação por 30 dias, após o retorno.
    </li>
    <li>
        Viagem no Brasil: estados como Acre, Amapá, Amazonas, Rondônia, Roraima, Maranhão, Mato Grosso, Pará e Tocantins são locais onde há alta prevalência de malária.
        Quem esteve nesses estados deve aguardar 12 meses para doar, após o retorno.
    </li>
    <li>
        Doenças:
    </li>
    <p>
        - Herpes labial ou genital: apto após desaparecimento total das lesões. <br />
        - Herpes Zoster: apto após 6 meses da cura (vírus Varicella Zoster).<br />
        Malária:<br />
        - Quem esteve em países com alta prevalência de malária deve aguardar 12 meses após o retorno para doar.<br />
        (critério semelhante ao dos estados brasileiros com prevalência elevada de malária).

        - Febre Amarela: quem esteve em região onde há surto da doença deve aguardar 30 dias para doar, após o retorno; se tomou a vacina, deve aguardar 04 semanas; se contraiu a doença,
        deve aguardar 6 meses após recuperação completa (clínica e laboratorial).<br />
        Coronavírus:<br />
        - Candidatos que apresentaram diagnóstico ou suspeita de coronavírus estão aptos a doar 10 dias após a completa recuperação.<br />
        - Candidatos assintomáticos com teste positivo estão aptos a doar após 10 dias da data de realização do teste.<br />
        - Candidatos que tiveram contato com casos positivos de contaminação por coronavírus estão aptos a doar após 7 dias do último contato.<br />
        - Candidatos que fizeram isolamento voluntário ou por orientação médica estão aptos a doar após o término do tempo de indicação de isolamento.<br />
        - Profissionais de saúde estão aptos a doar, desde que estejam fazendo uso correto de EPI.
    </p>

    <h4> Principais impedimentos definitivos:</h4>
    <br />
    <li>
        Hepatite após os 11 anos de idade.
    </li>
    <li>
        Evidência clínica ou laboratorial das seguintes doenças infecciosas transmissíveis pelo sangue:
        Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas.
    </li>
    <li>

        Já teve malária.
    </li>
    <li>

        Recebeu enxerto de duramater.
    </li>
    <li>
        Teve algum tipo de câncer, incluindo leucemia.
    </li>
    <li>
        Tem graves problemas no pulmão, coração, rins ou fígado.
    </li>
    <li>
        Tem problema de coagulação de sangue.
    </li>
    <li>
        É diabético com complicações vasculares ou em uso de insulina.
    </li>
    <li>
        Teve tuberculose extra-pulmonar.
    </li>
    <li>
        Já teve elefantíase.
    </li>
    <li>
        Já teve hanseníase.
    </li>
    <li>
        Já teve calazar (leishmaniose visceral).
    </li>
    <li>
        Já teve leishmaniose tegumentar ou cutânea.
    </li>
    <li>
        Já teve brucelose.
    </li>
    <li>
        já teve esquistossomose hepatoesplênica.
    </li>
    <li>
        Tem alguma doença que gere inimputabilidade jurídica.
    </li>
    <li>
        Foi submetido a transplante de órgãos ou de medula.
    </li>
    <li>
        Uso de drogas ilícitas injetáveis.
    </li>
    <li>
        Malária.
    </li>
    <li>
        Doença de Parkinson.
    </li>
    <li>
        Hepatite após o 11º aniversário: Recusa Definitiva. Hepatite B ou C após ou antes dos 10 anos: Recusa definitiva. Hepatite por Medicamento: apto após a cura e avaliado clinicamente.
        Hepatite viral (A): após os 11 anos de idade, se trouxer o exame do diagnóstico da doença, será avaliado pelo médico da triagem.
    </li>
    <br />
    <h5>Intervalos para doação</h5>

    <li>
        Homens - 60 dias (máximo de 04 doações nos últimos 12 meses).
    </li>
    <li>
        Mulheres - 90 dias (máximo de 03 doações nos últimos 12 meses).
    </li>
    <br />
    <h5>Quem não pode doar?</h5>

    <p>Você não poderá doar sangue se:</p>
    <li>
        Tiver idade inferior a 16 anos ou superior a 69 anos.<br />
        Obs: o limite superior para a primeira doação é 60 anos. Quem tem 61 anos ou mais e nunca doou está inapto.
    </li>


    <li>
        Tiver peso inferior a 50 quilos.
    </li>
    <li>
        Estiver com anemia no teste realizado imediatamente antes da doação.
    </li>
    <li>
        Estiver com hipertensão ou hipotensão arterial no momento da doação.
    </li>
    <li>
        Estiver com aumento ou diminuição dos batimentos cardíacos no momento da doação.
    </li>
    <li>
        Estiver com febre no dia da doação.
    </li>
    <li>
        Estiver grávida.
    </li>
    <li>
        Estiver amamentando, a menos que o parto tenha ocorrido há mais de 12 meses.
    </li>
    <br />
    <h5>Cuidados Pós-Doação:</h5>
    <br />
    <li>
        Antes de deixar o banco de sangue, permaneça sentado por, pelo menos, 15 minutos. Coma e beba o lanche oferecido.

    </li>
    <li>
        Tome quantidades extras de líquidos nas primeiras 24 horas após a doação. Isto ajudará na reposição do volume perdido durante a doação. Esta medida é particularmente
        importante nas primeiras 4 horas após a doação.
    </li>
    <li>
        Evite subidas pesadas e exercícios físicos extenuantes por 12 horas. Esta conduta previne sangramentos e ajuda na cicatrização do local onde a agulha foi colocada.
        Também permite que seu corpo se ajuste à perda de volume ocorrida na doação.
    </li>
    <li>
        Mantenha o curativo no local da agulha por, no mínimo, 4 horas. Se você notar que o local voltou a sangrar, aplique uma pressão sobre o local por 2-5 minutos
        e então troque a curativo, mantendo-o por mais 4 horas.
    </li>
    <li>
        Se, após deixar o banco de sangue, você sentir mal-estar, tontura, fraqueza e sensação de que vai desmaiar, sente-se em qualquer local e coloque
        a cabeça entre os joelhos ou então, deite imediatamente no chão com as pernas elevadas. Estas medidas evitam quedas da própria altura e aumentam a
        circulação de sangue na cabeça, aliviando rapidamente os sintomas.
    </li>
    <li>
        Se você acha que existe uma razão pela qual o seu sangue não deve ser utilizado para transfusão e você não pode ou não quis dizer isto durante a doação,
        entre em contato o mais breve possível com a Pró-Sangue e solicite que seu sangue seja descartado.
        O descarte será totalmente confidencial. Isto é de grande importância para a segurança da transfusão do sangue que você doou e dos pacientes que recebem seu sangue.
    </li>
    <li>
        Manter o curativo por pelo menos 4 horas;
    </li>
    <li>
        Não ingerir bebidas alcoólicas;
    </li>
    <li>
        Não fumar por 02 horas;
    </li>
</ul>

